body {
    background-color: #f7e1e1 !important;
}

.btn-pink {
    background-color: #e76f82;
    color: white;
    border: none;
}

.btn-pink:hover {
    background-color: #d5586c;
}

.btn-yellow {
    background-color: #ffef8a;
    color: #ffffff;
    border: none;
}

.btn-yellow:hover {
    background-color: #bf9b2f;
    color: #ffffff;
}

.btn-green {
    background-color: #92ce7c;
    color: white;
    border: none;
}

.btn-green:hover {
    background-color: #8cbf7c;
    color: #4e8139;
}


.bg-warning {
    background-color: #ffef8a !important;
    color: black;
}

.bg-success {
    background-color: #4e8139 !important;
}

.hero-bg {
    background-size: cover;
    background: url("static/todo/images/bg.jpg") no-repeat center;
    min-height: 100vh;
    width: 100%;
}


